<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="adminConnectionString"
			 connectionString="Server=den1.mssql7.gear.host; Database = aviaBase; Username = aviabase; Password = Pj2t6!~b82i3"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
